{% extends "master.twig" %}
{% block main %}

	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sides
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">List of Sides</h3>
        </div>
        
        <form role="form" action="/sides/{{ side ? 'update/' ~ side.id : 'save' }}" method="post" enctype="multipart/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" id="name" value="{{ side ? side.name : '' }}"/>
                </div>
                <div class="form-group">
                  <label for="category">Image</label>
                  <input type="file" name="image" value=""/>
                  {% if side.image != '' %}
                    <img src="{{ side.image }}" alt="" style="width:100px;height:100px" />
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" name="price" id="price" value="{{ side ? side.price : '' }}"/>
                </div>
                <div class="form-group">
                  <label for="time">Time(mins)</label>
                  <input type="text" class="form-control" name="time" id="time" value="{{ side ? side.time : '' }}"/>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

        <div class="box-footer">
          Footer
        </div>
      </div>

    </section>

  </div>

{% endblock %}